# Dependencies
node_modules

# Next.js
.next
next-env.d.ts
tsconfig.tsbuildinfo

# Environment
.env*
!.env.example

# Python
__pycache__/
*.pyc

# Local dev
scripts/images-*
PLAN.md
# Sentry Config File
.env.sentry-build-plugin
