@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html:lang(ar) {
    font-size: 1.05em;
  }

  body {
    @apply text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-900;
  }
}
